/*********************
 LAYOUT (TODO)
    *Navigation*
        -Add links to Home, About, Contact, and Shop
            -Links are in boxes w/ color and border
            -Active link box has different color and does not link anywhere.
            -Links change color and become underlined when hovered over
 *********************/
 * {
    font-family: 'Montserrat', sans-serif;
 }
 .navbar {
     background-color: #FFEA49;
 }
 .nav-link {
     border: 2px solid #fff396;
     border-radius: 10px;
     background-color: #fff396; 
 }
 .nav-link:not(.active):hover {
    border: 2px solid #fff8ca;
    background-color: #fff8ca;
    font-weight: 600;
    /* Not sure if I like the look of the underline.
    text-decoration: underline; */
 }
 .active {
    border: 2px solid #ffd116;
    background-color: #ffd116;
    font-weight: 600;
 }

 footer {
     line-height: 100px;
     background-color: #fff8ca;
 }
 .smileyFooter {
     height: 50px
 }
 

/* TYPOGRAPHY */

/* COLORS */

/*********************
 ABOUT  (TODO) - Specific CSS for About Page 
    *Bio*
        -Title
        -Paragraph w/ bio
 *********************/


/*********************
 CONTACT (TODO) - Specific CSS for Contact Page
    *Contact Us Form*
        -Name form
        -Email form
        -Subject form.
        -Message form that is a larger text field.
        -Three Radios (reason for submission)
            -Booking Request
            -?
            -? 
        -Submit button
 *********************/
form {
    background-color: #fff8ca;
    border: 5px solid #fff8ca;
}
.btn:hover {
    font-weight: 500;
}

/*********************
 HOME (TODO) - Specific CSS for Home Page
 *********************/

.homePage {
   background-color: #fff8ca;
}
.homeAside {
   border: 5px solid #fff8ca;
   background-color: #fff396;
   border-radius: 25px;
}
.homeMain {
   border: 5px solid #fff8ca;
   background-color: #ffd116;
   border-radius: 25px;
}
.homeMain h1 {
    flex-basis: 100%;
}
.homeSub {
   border: 10px solid #ffd116;
   background-color: #fff396;
   border-radius: 25px;
   /* max-width: 350px */
   /* flex-basis: 25%; */
}
.smiley {
    width: 100px;
}

/*********************
 SHOP (TODO) - Specific CSS for Shop Page
    *Side Menu*
        -contain in-page links to different merch items.
        -should take full width on smaller screens
    *Merch section*
        -Show merch options with image, description, price, and buy button.
        -each merch item is an anchor that can be linked to in the side menu.

 *********************/